/* Custom Style for SpeakOut */
/* +++++++++++++++++++++++++ */

.dk-speakout-petition-wrap {
    padding: 56px 72px;
}
.dk-speakout-petition-wrap h3 {
    margin: 0 0 0.8em 0;
}

.dk-speakout-petition-wrap .dk-speakout-readme {
    padding: 0.5em 1em;
    margin-bottom: 15px;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 600;
    display: block !important;
    pointer-events: auto;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #ddd;
}
.dk-speakout-petition-wrap .dk-speakout-readme:before {
    content: '\e966';
    font-family: 'fontello';
    font-size: 1.2em;
    line-height: inherit;
    font-weight: 400;
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3em;
    -webkit-transition: initial;
    -moz-transition: initial;
    -ms-transition: initial;
    -o-transition: initial;
    transition: initial;
}

.dk-speakout-petition {
    position: relative;
}
.dk-speakout-petition:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 0 25px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    z-index: 1;
    bottom: -60px;
    left: -55px;
}

#dk-speakout-windowshade {
    width: auto !important;
    height: auto !important;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#dk-speakout-reader {
    left: 50% !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto !important;
    height: auto !important;
    min-width: 65%;
    max-width: 85%;
    min-height: 40%;
    max-height: 80%;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,.4);
    box-shadow: 0 0 12px rgba(0,0,0,.4);
}


#dk-speakout-reader:before{
    content: '';
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background: rgba(255,255,255,.7);
    z-index: -1;
}

#dk-speakout-reader textarea[class*="dk-speakout-message"] {
    width: 100%;
    min-height: 20em;
    padding: 1.5em 2em;
}
#dk-speakout-reader-close {
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: -40px;
    right: 0;
    color: #191616;
    cursor: pointer;
    -webkit-transition: color .3s ease, transform .3s ease-out;
    -moz-transition: color .3s ease, transform .3s ease-out;
    -ms-transition: color .3s ease, transform .3s ease-out;
    -o-transition: color .3s ease, transform .3s ease-out;
    transition: color .3s ease, transform .3s ease-out;
}
#dk-speakout-reader-close:hover {
    color: #e9431b;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
#dk-speakout-reader-close:before {
    font-family: 'fontello';
    content: '\e99c';
}

#dk-speakout-reader-content {
    overflow-y: auto;
    background-color: #fff;
    padding: 2em 2.5em;
    max-height: 65vH;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#dk-speakout-reader-content h1,
#dk-speakout-reader-content h2,
#dk-speakout-reader-content h3,
#dk-speakout-reader-content h4,
#dk-speakout-reader-content h5,
#dk-speakout-reader-content h6 {
    margin-top: 0;
}
#dk-speakout-reader-content  .dk-speakout-greeting {
    font-size: 2em;
    line-height: 1.05757em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.dk-speakout-half,
.dk-speakout-full {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.dk-speakout-full:first-of-type {
    margin-top: 0;
}

.dk-speakout-half label,
.dk-speakout-full label {
    display: block;
    font-size: 1em;
}
.dk-speakout-half input,
.dk-speakout-full input {
    width: 100%;
    padding: 1em 1.4em;
}
.dk-speakout-full.dk-speakout-message {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    color: transparent !important;
    background: none !important;
}

.dk-speakout-submit-wrap .dk-speakout-submit {
    display: block;
    width: 100%;
}

.dk-speakout-message-editable {
    display: none;
    width: 100%;
    padding-right: 20px;
}
.dk-speakout-message-editable textarea {
    width: 100%;
}
.dk-speakout-caps {
    display: none;
}
.dk-speakout-submit-wrap {
    margin-top: 25px;
}
.dk-speakout-signaturelist {
    width: 100%;
    position: relative;
}

.dk-speakout-signaturelist td,
.dk-speakout-signaturelist tr {
    padding: 1.12em 0.7em;
}
.dk-speakout-signaturelist > tbody > tr {
    text-align: center;
}
.dk-speakout-signaturelist caption {
    text-align: left;
    margin-top: 0 !important;
}
.dk-speakout-signaturelist-pagelinks {
    position: absolute;
    top: 1em;
    right: 0;
    padding: 0 !important;
}
.dk-speakout-signaturelist-pagelinks td {
    padding: 0 !important;
    background-color: transparent !important;
}
.dk-speakout-signaturelist-prev,
.dk-speakout-signaturelist-next {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 2.52em;
    height: 2.52em;
    line-height: 2.52em;
    cursor: pointer;
    border: 3px solid #ddd;
    text-indent: 1000px;
    overflow: hidden;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
.dk-speakout-signaturelist-prev + .dk-speakout-signaturelist-next {
    margin-left: 6px;
}
.dk-speakout-signaturelist-prev:before,
.dk-speakout-signaturelist-next:before {
    font-family: "fontello";
    font-size: 0.9em;
    font-weight: 400;
    text-indent: 0;
    position: absolute;
    z-index: 1;
    top: calc(50% + 1px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.dk-speakout-signaturelist-prev:before {
    content: '\e996';
    letter-spacing: 2px;
}
.dk-speakout-signaturelist-next:before {
    content: '\e95e';
    letter-spacing: -2px;
}
.dk-speakout-share {
    position: relative;
    padding: 45px 72px 10px;
    margin: 75px -72px 0;
    border-top: 30px solid #fff;
}
.dk-speakout-share:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 0 25px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 17px;
}

.dk-speakout-share div > p:first-child {
    font-size: 1.333em;
    line-height: 1.3em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.9em;
}
.dk-speakout-share div > p:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
}
.dk-speakout-share div > p:last-child > a.dk-speakout-twitter,
.dk-speakout-share div > p:last-child > a.dk-speakout-facebook  {
    width: calc(1 / 2 * 100% - (1 - 1 / 2) * 15px);
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dk-speakout-share a.dk-speakout-twitter,
.dk-speakout-share a.dk-speakout-facebook {
    padding: 0.7em 2.4em;
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.dk-speakout-share a.dk-speakout-twitter > span,
.dk-speakout-share a.dk-speakout-facebook > span {
    display: none;
}

.dk-speakout-share a.dk-speakout-facebook {
    color: #fff;
    background-color: #3873ad;
}
.dk-speakout-share a.dk-speakout-twitter {
    color: #fff;
    background-color: #62c6f8;
}
.dk-speakout-share a.dk-speakout-facebook:hover {
    color: #fff;
    background-color: #4284c5;
}
.dk-speakout-share a.dk-speakout-twitter:hover {
    color: #fff;
    background-color: #4fbff8;
}
.dk-speakout-share a.dk-speakout-twitter:before,
.dk-speakout-share a.dk-speakout-facebook:before {
    font-family: 'fontello';
    font-weight: 400;
    font-size: 0.9em;
    margin-right: 0.2em;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    left: -5px;
}
.dk-speakout-share a.dk-speakout-twitter:before{
    content: '\e958';
}
.dk-speakout-share a.dk-speakout-facebook:before{
    content: '\e965';
}

.dk-speakout-share a.dk-speakout-twitter:after,
.dk-speakout-share a.dk-speakout-facebook:after {
    content: attr(title);
}
.dk-speakout-progress-wrap,
.dk-speakout-bcc-wrap,
.dk-speakout-privacypolicy-wrap {
    margin-top: 1em;
}
.dk-speakout-optin-wrap {
    margin-top: 1em;
}

.dk-speakout-ajaxloader {
    background: transparent url('images/balls-grey-loader.gif') no-repeat center center;
    display: block;
    height: 16px;
    margin: 10px 0 15px 0;
}
.dk-speakout-ajaxloader[style*="hidden;"] {
     display: none;
}
.dk-speakout-ajaxloader[style*="visible;"] {
    display: block;
}
.dk-speakout-response-error {
    padding: 10px 15px;
    border: 3px solid #e9431b;
}
.dk-speakout-response-success {
    padding: 10px 15px;
    border: 3px solid #54BD54;
}
.dk-speakout-response-success p:last-child {
    margin-bottom: 0;
}

/* CheckBox */
.dk-speakout-options-checkbox input[type="checkbox"] {
    display: block;
}
.dk-speakout-options-checkbox,
.dk-speakout-options {
    display: inline-block;
}
.dk-speakout-options {
    margin-left: 3px;
}

/* Media */
/* ++++++++++++++++++++++++ */
@media (max-width: 1439px) {
    /* The Speakout */
    .dk-speakout-share a.dk-speakout-twitter,
    .dk-speakout-share a.dk-speakout-facebook {
        font-size: 17px !important;
        line-height: 22px !important;
    }
    .dk-speakout-signaturelist caption {
        font-size: 62px !important;
        line-height: 64px !important;
    }
    .dk-speakout-signaturelist-pagelinks {
        top: 0.6em;
    }
}

@media (max-width: 1279px) {
    /* The Speakout */
    .dk-speakout-petition-wrap {
        padding: 50px 60px;
    }
    .dk-speakout-share {
        padding: 45px 60px 5px;
        margin: 60px -60px 0;
    }
    .dk-speakout-share a.dk-speakout-twitter,
    .dk-speakout-share a.dk-speakout-facebook {
        font-size: 16px !important;
        line-height: 21px !important;
        padding: 10px 28px;
    }
    .dk-speakout-petition:before {
        bottom: -50px;
        left: -50px;
    }
    .dk-speakout-share:before {
        bottom: -39px;
        left: 11px;
    }
    #dk-speakout-reader-content {
        max-height: 60vH;
    }
    .dk-speakout-petition-wrap .dk-speakout-readme {
        padding: 0.44em 1em;
    }
    .dk-speakout-signaturelist caption {
        font-size: 54px !important;
        line-height: 56px !important;
    }
    .dk-speakout-signaturelist-pagelinks {
        top: 0.4em;
    }
}

@media (max-width: 1023px) {
    /* The Speakout */
    .dk-speakout-signaturelist caption {
        font-size: 48px !important;
        line-height: 50px !important;
    }
    .dk-speakout-signaturelist-prev,
    .dk-speakout-signaturelist-next {
        width: 2.4em;
        height: 2.4em;
        line-height: 2.4em;
    }

    .dk-speakout-petition-wrap {
        padding: 36px 42px;
    }
    .dk-speakout-share {
        padding: 36px 42px 12px;
        margin: 50px -42px 0;
    }
    .dk-speakout-share:before {
        bottom: -26px;
        left: 10px;
    }
    .dk-speakout-share a.dk-speakout-twitter,
    .dk-speakout-share a.dk-speakout-facebook {
        padding: 10px 18px;
        letter-spacing: 0.8px;
    }

    .dk-speakout-petition:before {
        bottom: -40px;
        left: -32px;
    }
    .dk-speakout-petition-wrap h3 {
        font-size: 28px !important;
        line-height: 30px !important;
    }
}

@media (max-width: 767px) {
    /* The Speakout */
    .dk-speakout-signaturelist caption {
        font-size: 40px !important;
        line-height: 42px !important;
    }
    .dk-speakout-signaturelist-pagelinks {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .dk-speakout-signaturelist-pagelinks td {
        padding-top: 2em !important;
    }
    .dk-speakout-share {
        border-width: 20px;
    }
    #dk-speakout-reader-content .dk-speakout-greeting {
        font-size: 24px !important;
        line-height: 26px !important;
    }
    #dk-speakout-reader-content {
        padding: 1.5em 1.7em;
    }
    #dk-speakout-reader {
        min-width: 75%;
    }
    #dk-speakout-reader-close {
        top: -30px;
    }
    .dk-speakout-signaturelist td,
    .dk-speakout-signaturelist tr {
        padding: 0.8em 0.58em;
    }
}

@media (max-width: 479px) {
    .dk-speakout-signaturelist caption {
        font-size: 34px !important;
        line-height: 36px !important;
    }
    .dk-speakout-petition-wrap {
        padding: 24px 30px;
    }
    .dk-speakout-petition:before {
        left: -21px;
    }
    .dk-speakout-petition-wrap h3 {
        font-size: 24px !important;
        line-height: 26px !important;
    }
    .dk-speakout-petition-wrap .dk-speakout-readme {
        font-size: 15px !important;
        line-height: 17px !important;
        padding: 8px 12px 6px;
    }

    .dk-speakout-share {
        padding: 24px 30px 22px;
        margin: 48px -30px 0;
    }
    .dk-speakout-share div > p:first-child {
        margin-bottom: 0.6em;
    }
    .dk-speakout-share a.dk-speakout-twitter,
    .dk-speakout-share a.dk-speakout-facebook {
        font-size: 14px !important;
        line-height: 19px !important;
    }
    .dk-speakout-share div > p:last-child {
        justify-content: flex-start;
    }
    .dk-speakout-share div > p:last-child > a.dk-speakout-twitter,
    .dk-speakout-share div > p:last-child > a.dk-speakout-facebook {
        width: 100%;
    }
    .dk-speakout-share div > p:last-child > a.dk-speakout-facebook + a.dk-speakout-twitter {
        margin-top: 10px;
    }
    .dk-speakout-share a.dk-speakout-twitter:before,
    .dk-speakout-share a.dk-speakout-facebook:before {
        top: -1px;
    }
    .dk-speakout-share:before {
        bottom: -15px;
        left: 9px;
    }
    .dk-speakout-signaturelist td,
    .dk-speakout-signaturelist tr {
        padding: 0.4em 0.32em;
    }
    .dk-speakout-privacypolicy-wrap input[type="checkbox"] + label {
        font-size: 14px;
    }


}