/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.bg-yellow {
  background: #ffc109 !important;
}

.services:hover, .services:focus {
  background: #ffc109;
  color: #fff;
}

@media (min-width: 992px) {
  .services.active {
    background: #ffc109;
    color: #fff;
  }
}

.services .icon span {
  font-size: 60px;
  color: #ffc129;
}

.ftco-vol .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}